.a-card{
  max-width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5px;
  margin-bottom: 2px;
}
mat-divider{
  margin-bottom: 8px;
}
#btn{
  padding: 12px;
  // margin: auto;
}
.addbtn{
 // display: inline-block;
 text-align: start;
 padding: 5px;
}
.add{
  //Non EFFECT for now
  text-align: justify;
  padding: 8px;
}
.edit{
 position: relative;
 bottom: 5px;
  float: right;
}
mat-chip-list{
  display: inline-block
}
