<div *ngIf="!noData" fxFlex fxFill>
  <div> VOus n'avez pas encore postuler aux offres</div>
 </div>
 <div *ngIf="userSelectedOffers$ | async as userOffers" fxLayout='row'
 fxLayoutAlign="center " class="wrapThis"><!-- fxLayout="row" -->
  <div class="fullCard" id="thumbnail" *ngFor="let item of userOffers">
    <div class="cardContent" >
      <div class="cardText" >
        <h4 >{{item.title}}</h4>
        <mat-divider></mat-divider>
        <p><em>{{item.description}}</em></p>
      </div>
    </div>
  </div>

</div>
<!-- <div>
  <mat-card>Simple data</mat-card>
  <mat-card-header>Heading page</mat-card-header>
</div> -->

<!-- *ngIf="userSelectedOffers$ | async as userOffers"
    *ngFor="let item of userOffers" -->
