<mat-vertical-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup" (ngSubmit)="addCv()">
      <ng-template matStepLabel>Profil</ng-template>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Nom</mat-label>
        <input matInput placeholder="Nom" formControlName="firstName" required>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Prenom</mat-label>
        <input matInput placeholder="Prenom" formControlName="lastName" >
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Numero</mat-label>
        <input matInput placeholder="Numero" formControlName="phoneNumer" >
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <input matInput
        placeholder="Langue"
        formControlName="langues"
        [matAutocomplete]="auto" required>
 <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
   <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
     {{option}}
   </mat-option>
 </mat-autocomplete>
      </mat-form-field>

      <div>
        <button mat-button matStepperNext title="NEXT" type="submit"><mat-icon>navigate_next</mat-icon></button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="comptenceFormGroup">
    <!--  -->
    <form [formGroup]="comptenceFormGroup">
      <!--  -->
      <ng-template matStepLabel>COPETENCE</ng-template>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Competence</mat-label>
        <mat-chip-list #chipList aria-label="Competence selection">
          <mat-chip
            *ngFor="let fruit of fruits"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="remove(fruit)">
            {{fruit}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input
            placeholder="New competence..."
            #fruitInput
            formControlName="competence"
            [matAutocomplete]="auto2"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
        <mat-autocomplete #auto2="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let comptc of filteredFruits | async" [value]="comptc">
            {{comptc}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <div>
        <button mat-button matStepperNext title="NEXT" (click)="addCompetence()"><mat-icon>navigate_next</mat-icon></button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup" novalidate (ngSubmit)="addExperience()">
      <ng-template matStepLabel>EXPERIENCE</ng-template>
      <mat-form-field class="full-width">
        <mat-label>Titre</mat-label>
        <input matInput formControlName="titre" placeholder="Titre" required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Employeur</mat-label>
        <input matInput formControlName="employeur" placeholder="Employeur" required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Address</mat-label>
        <input matInput formControlName="lieu" placeholder="Address" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious title="Back"><mat-icon>navigate_before</mat-icon></button>
        <button mat-button matStepperNext title="Next" type="submit"><mat-icon>navigate_next</mat-icon></button>
      </div>
    </form>
  </mat-step>
  <div>
    <mat-step [stepControl]="thirdFormGroup">

      <ng-template matStepLabel>FORMATION</ng-template>
      <form [formGroup]="thirdFormGroup" >
        <div formArrayName="formation" *ngFor="let study of studies.controls; let i=index">
          <div [formGroupName]="i">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Etablissement</mat-label>
              <input matInput formControlName="etablissement" placeholder="Etablissement" >
            </mat-form-field>
            <button class="add" color="primary" mat-button (click)="addFormation()" title="ajouter une formation"><mat-icon>add</mat-icon></button>

            <button mat-button title="Supprimer cette formation" (click)="deleteFormation(i)"><mat-icon>close</mat-icon>
            </button>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Domaine</mat-label>
              <input matInput formControlName="domaine" placeholder="Domaine" >
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Niveau</mat-label>
              <input matInput formControlName="niveau" placeholder="Niveau" >
            </mat-form-field>
          </div>
        </div>

        <div>
          <button (click)="addFormationList()" mat-button>Ajouter une formation</button>
          <!-- <button class="add" mat-button fxFill (click)="deleteClass()">Supprimer</button> -->
        </div>
      </form>

      <!-- <div>
        <button mat-button (click)="addCv()">Sava</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div> -->
    </mat-step>
  </div>

</mat-vertical-stepper>
